<link href="./css/login.css" rel="stylesheet" media="screen">
<title>Login</title>
		<div class="container" id="login">
			<div class="container title">
				<h1>对口支援联合特色科研平台</h1>
			</div>
			<div  class="form-signin" >
				<h2 class="form-signin-heading zh-cha" id="log_title">请登录</h2>
				<%= form_tag '/login' do %>
					<% unless flash[:uidwr] %>
						<%= text_field_tag :uid, params[:uid], class: "form-control", placeholder: "Uid", required: true, autofocus: true%>
					<% else %>
						<div class="form-group has-error">
						  <%= text_field_tag :uid, params[:uid], class: "form-control", placeholder: "Uid", required: true, autofocus: true%><label class="control-label" for="uid"><%= flash[:uidwr] %></label>
						</div>
					<% end %>					
					<% unless flash[:pswwr] %>
						<%= password_field_tag :password, params[:password], class: "form-control", placeholder: "密码", required: true%>
					<% else %>
						<div class="form-group has-error">
							<%= password_field_tag :password, params[:password], class: "form-control", placeholder: "密码", required: true%><label class="control-label" for="uid"><%= flash[:pswwr] %></label>
						</div>
					<% end %>

					<%= submit_tag "登录", id: "button",  class: "btn btn-lg btn-primary zh-cha"%>
				<% end %>
			</div>
		</div>
</html>
