<%= content_for :head do %>
<%= stylesheet_link_tag "search", media: "all" %>
<% end %>

<%= content_for :main_content do %>
<div class="container">
	<div class="row">

		<%= form_tag({action: :search}, {method: :get}) do %>
			<div class="col-md-12 col-sm-12">
				<div class="col-md-10 col-sm-9">
					<%= text_field_tag :content, nil, :class => :"form-control", :placeholder => "请输入检索内容" %>
				</div>
				<div class="col-md-2 col-sm-2">
					<%= submit_tag '搜索', :class => "btn btn-default" %>
				</div>
			</div>
		<% end -%>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
			<h4>
				<!-- badge should not be empty -->
				<span class="label label-primary"><a href="#">全部 <span class="badge">42</span></a></span>
				<span class="label label-warning"><a href="#">专家 <span class="badge">42</span></a></span>
				<span class="label label-info"><a href="#">项目 <span class="badge">0</span></a></span>
				<span class="label label-success"><a href="#">文献 <span class="badge">0</span></a></span>
				<span class="label label-danger"><a href="#">成果 <span class="badge">12</span></a></span>
			</h4>
			</div>
		</div>
	</div>
</div>
<div class="container" id="search-result">
	<div class="row" id="search-result">
		<div class="col-md-12">

			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<a href=""><div class="result paper">
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
				</div></a>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result expert">
				expert
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result expert">
				expert
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result achievement">
				achievement
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result project">
				project
				</div>
			</div>		
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result project">
				project
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result achievement">
				achievement
				</div>
			</div>
						<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<a href=""><div class="result paper">
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
				</div></a>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result expert">
				expert
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result expert">
				expert
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result achievement">
				achievement
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result project">
				project
				</div>
			</div>		
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result project">
				project
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result achievement">
				achievement
				</div>
			</div>
						<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<a href=""><div class="result paper">
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
					<p>paper<br/>asdfasdf</p>
				</div></a>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result expert">
				expert
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result expert">
				expert
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result achievement">
				achievement
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result project">
				project
				</div>
			</div>		
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result project">
				project
				</div>
			</div>
			<div class="col-md-3 col-lg-2  col-sm-4   result-frame">
				<div class="result achievement">
				achievement
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>