<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>

<p>
  <strong>Source:</strong>
  <%= @project.source %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', history_back_url %>
