<%= form_for(@user, remote: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% field_size = 32 %>
  <div class="field">
    <%= label :uid,'uid' %><br>
    <%= text_field nil, nil, placeholder: get_user.uid, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: field_size%>
  </div>
  
  <div class="field">
    <%= f.label :password, 'Password:' %><br>
    <%= f.password_field :password, size: field_size %>
  </div>
 
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm:' %><br>
    <%= f.password_field :password_confirmation, size: field_size %>
  </div>

  <div class="field">
    <%= f.label :title, 'Title:' %><br>
    <%= f.select :title_id, Title.all.collect {|t| [t.name, t.id]} %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email , size: field_size%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
