<thead>
<tr>
    <% @obj_metas.each do |meta| %>
        <th><%= meta[:title] %></th>
    <% end %>
    <th>管理</th>
</tr>
</thead>
<tbody>
    <% @objects.each do |object|%>
    <tr>
        <% @obj_metas.each do |meta| %>
            <td><%= get_content(object, meta) %></td>
        <% end %>
        <td>
            <%= link_to '显示', object %>
            <%= link_to '编辑', self.send("edit_#{@obj_name}_path", object.id) %>
            <%= link_to '删除', object, method: :delete, data: { confirm: "Are you sure to delete this #{@obj_name}?" } %>
        </td>
    </tr>
    <% end %>
</tbody>