<% content_for :head do %>
<%= stylesheet_link_tag    "list_tag", media: "all" %>
<% end %>

<% content_for :pre_header do %>
<div class="col-md-2 pull-right btn-group">
    <button type="button" class="btn btn-default glyphicon glyphicon-list" onclick="window.open('<%= self.send("#{@obj_name}_manage_list_path") %>', '_self')"/>
    <button type="button" class="btn btn-default glyphicon glyphicon-th-large  active"/>
</div>
<% end %>

<% content_for :header_small_title do %>
成果管理
<% end %>

<% content_for :bottom_nav do %>
<li><%= link_to '创建', new_achievement_path %></li>
<% end %>

<% content_for :main_content do %>
<div class="container">
    <div class="row">
      <% counter=1 %>
      <% @objects.each do |object|%>
      <% if counter%4==1 %>
      
      <!-- new row -->
      <div class="col-md-12 <%= @obj_name %>">
      <% end %>

        <div class="col-md-3">

            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title"><%= object.name %>
                  <cite title="显示">
                    <%= link_to tag(:span, class: "glyphicon glyphicon-eye-open"), self.send("#{@obj_name}_path", object.id) %>
                  </cite>
                  <cite title="编辑">
                    <%= link_to tag(:span, class: "glyphicon glyphicon-edit"), self.send("edit_#{@obj_name}_path", object.id) %>
                  </cite>
                  <cite title="删除">
                    <%= link_to tag(:span, class: "glyphicon glyphicon-remove"), self.send("#{@obj_name}_path", object.id), method: :delete, data: { confirm: 'Are you sure to delete this project?' } %>
                  </cite>
                </h4>
              </div>
              <div class="panel-body">
                <p>
                  <%#= get_brief(achievement, 24) %>
                </p>
              </div>
            </div>

          </div>
        <% if counter%4==0 %>
        <!-- new row end -->

        </div >
        <% end %>

        <% counter+=1 %>
        <% end %>
    </div>      
</div>

<% end %>