	<div class="container panel" id="panel">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to('manage/projects')  do %>
						<div class="panel-elm" id="panel-elm0">
							<p class="panel-text">项目管理</p>
							<span type="button" class="glyphicon glyphicon-briefcase"/>
						</div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(achievement_manage_list_path)  do %>
						<div class="panel-elm" id="panel-elm1">
							<p class="panel-text">成果管理</p>
							<span type="button" class="glyphicon glyphicon-send"/>
						</div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(paper_manage_list_path)  do %>
						<div class="panel-elm" id="panel-elm2">
							<p class="panel-text">论文管理</p>
							<span type="button" class="glyphicon glyphicon-book"/>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(@user)  do %>
						<div class="panel-elm" id="panel-elm3">
							<p class="panel-text">个人信息</p>
							<span type="button" class="glyphicon glyphicon-user"/>
						</div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(search_path)  do %>
						<div class="panel-elm" id="panel-elm4">
							<p class="panel-text">搜索</p>
							<span type="button" class="glyphicon glyphicon-search"/>
						</div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(match_path)  do %>
						<div class="panel-elm" id="panel-elm5">
							<p class="panel-text">匹配</p>
							<span type="button" class="glyphicon glyphicon-transfer"/>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>