<link href="./css/project_form.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" media="screen" href="./css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="./js/moment.js"></script>
<script type="text/javascript" src="./js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="./js/bootstrap-datetimepicker.ru.js"></script>
<div class="container form">
	<%= form_for(@project, html: {class: "form-horizontal", role: "form"}) do |f|%>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Project Name</label>
			<div class="col-sm-10">
			  <%= f.text_field :name, class: "form-control", placeholder: @project.name, required: true, autofocus: true%>
			</div>
	  	</div>
 		<div class="form-group">
            <label for="name" class="col-sm-2 control-label">Project Source</label>
            <div class="col-sm-10">
              <%= f.select :source, get_source_select, {},{class: "form-control", required: true, autofocus: true}%>
            </div>
        </div>
	  	<div class="form-group">
			<label for="date" class="col-sm-2 control-label">Project Date</label>
			<div class="col-sm-10">
				<div class='col-md-6'>
					<div class="form-group">
						<div class='input-group date'>
							<%= f.text_field :start, class: "form-control", "data-format" => "YYYY-MM-DD",placeholder: @project.start, required: true, autofocus: false, id: "start" %>
							<span class="input-group-addon">-</span>
							<%= f.text_field :end, class: "form-control", "data-format" => "YYYY-MM-DD", placeholder: @project.end, required: true, autofocus: false, id: "end" %>
						</div>
					</div>
				</div>
			</div>
		</div>
			<script type="text/javascript">
				$(function () {
					$('#start').datetimepicker({
						pickTime: false
					 });
					$('#end').datetimepicker({
						pickTime: false
					 });
					$("#start").on("change.dp",function (e) {
					   $('#end').data("DateTimePicker").setStartDate(e.date);
					});
					$("#end").on("change.dp",function (e) {
					   $('#start').data("DateTimePicker").setEndDate(e.date);
					});
				});
			</script>
	<% end %>
</div>