<% @projects.each do |project|%>
<tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= get_brief(project) %></td>
    <td><%= project.start.to_s+'/'+project.end.to_s %></td>
    <td><%= get_state(project) %></td>
    <td><%= get_source(project) %></td>
    <td><%= get_participation(project, @user) %></td>
    <td>
        <%= link_to 'show', project %>
        <%= link_to 'edit', edit_project_path(project.id) %>
        <%= link_to 'delete', project, method: :delete, data: { confirm: 'Are you sure to delete this project?' } %>
    </td>
</tr>
<% end %>