<% content_for :head do %>
<%= stylesheet_link_tag    "list_tag", media: "all" %>
<% end %>

<% content_for :pre_header do %>
<div class="col-md-2 pull-right btn-group">
    <button type="button" class="btn btn-default glyphicon glyphicon-list" onclick="window.open('<%=project_manage_list_path %>', '_self')"/>
    <button type="button" class="btn btn-default glyphicon glyphicon-th-large  active"/>
</div>
<% end %>

<% content_for :header_small_title do %>
项目管理
<% end %>

<% content_for :bottom_nav do %>
<li><%= link_to '创建', new_project_path %></li>
<% end %>

<% content_for :main_content do %>
<div class="container">
    <div class="row">
        <% counter=1 %>
        <% @projects.each do |project|%>
        <% if counter%4==1 %>
      <!-- new row -->
      <div class="col-md-12 project">
        <% end %>
        <div class="col-md-3">

            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title"><%= project.name %>
                  <cite title="显示">
                    <%= link_to tag(:span, class: "glyphicon glyphicon-eye-open"), project_path(project.id) %>
                  </cite>
                  <cite title="编辑">
                    <%= link_to tag(:span, class: "glyphicon glyphicon-edit"), edit_project_path(project.id) %>
                  </cite>
                  <cite title="删除">
                    <%= link_to tag(:span, class: "glyphicon glyphicon-remove"), project_path(project.id), method: :delete, data: { confirm: 'Are you sure to delete this project?' } %>
                  </cite>
                </h4>
              </div>
              <div class="panel-body">
                <p>
                  <%= get_brief(project, 24) %>
                </p>
              </div>
              <ul class="list-group">
                <li class="list-group-item"><%= get_source(project) %></li>
                <li class="list-group-item"><%= get_state(project) %></li>
                <li class="list-group-item"><%= get_participation(project, @user) %></li>
              </ul>
            </div>

          </div>
          <% if counter%4==0 %>
        </div >
        <!-- new row end -->
          <% end %>
          <% counter+=1 %>
        <% end %>
    </div>      
</div>

<% end %>