<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <% @project.users.map.each do |user| %>
    <%= user.name + ' ' %>
  <% end %>
</p>

<p>
  <strong>StarTime:</strong>
  <%= @project.start %>
</p>

<p>
  <strong>EndTime:</strong>
  <%= @project.end %>
</p>

<p>
  <strong>Source:</strong>
  <%= @project.source.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', history_back_url %>
