<% @achievements.each do |achievement|%>
<tr>
    <td><%= achievement.id %></td>
    <td><%= achievement.title %></td>
    <td><%= get_brief(achievement) %></td>
    <td>
        <%= link_to '显示', achievement %>
        <%= link_to '编辑', edit_achievement_path(achievement.id) %>
        <%= link_to '删除', achievement, method: :delete, data: { confirm: 'Are you sure to delete this achievement?' } %>
    </td>
</tr>
<% end %>